<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>My Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">Home page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               th:href="@{/cart/open}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Logout</a>
          </li>
          <!--          <li class="nav-item dropdown">-->
          <!--            <a class="nav-link dropdown-toggle" href="#" id="navbardrop"-->
          <!--               data-toggle="dropdown">-->
          <!--              Category-->
          <!--            </a>-->
          <!--            <div class="dropdown-menu">-->
          <!--              <c:if test="${not empty category}">-->
          <!--                <c:forEach items="${category}" var="category">-->
          <!--                  <a class="dropdown-item"-->
          <!--                     href="${contextPath}/category/${category.getId()}">${category.getName()}-->
          <!--                    <img class="card-img" style="width:150px;height:120px"-->
          <!--                         src="${contextPath}/images/${category.getImagePath()}"-->
          <!--                         alt="Card image">-->
          <!--                  </a>-->
          <!--                </c:forEach>-->
          <!--              </c:if>-->
          <!--            </div>-->
          <!--          </li>-->
        </ul>
        <form th:action="@{/search}" class="d-flex">
          <input class="form-control me-2" type="text" id="searchField" name="searchField"
                 placeholder="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container mt-3">
  <div th:if="${#objects.nullSafe(user, default)}">
    <div class="container">
      <h2>User info</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Birthday</th>
          <th>Email</th>
          <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <strong th:text="${user.name}"></strong>
          </td>
          <td>
            <strong th:text="${user.surname}"></strong>
          </td>
          <td>
            <strong th:text="${user.birthday}"></strong>
          </td>
          <td>
            <strong th:text="${user.email}"></strong>
          </td>
          <td>
            <strong th:text="${user.phoneNumber}"></strong>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="list-product" class="container-fluid mt-3">
  <div class="container">
    <h1>Redeemed products</h1>
    <table class="table">
      <tr>
        <th><h3>Order number</h3></th>
        <th><h3>Date of order</h3></th>
        <th><h3>Price of order</h3></th>
        <th><h3>Product info</h3></th>
        <th><h3>Quantity</h3></th>
        <th><h3></h3></th>
      </tr>
      <div th:if="${not #lists.isEmpty(order_details)}">
        <div type="order" th:each="order_detail : ${order_details}">
          <tr>
            <td style="font-style: italic">
              <strong th:text="${order_detail.orderDetailsId.order.id}"></strong>
            </td>
            <td style="font-style: italic">
              <strong th:text="${order_detail.orderDetailsId.order.orderDate}"></strong>
            </td>
            <td style="font-style: italic">
              <strong th:text="${order_detail.orderDetailsId.order.orderPrice} + '$'"></strong>
            </td>
            <td>
              <div class="container-fluid mt-3">
                <div class="container">
                  <div class="container mt-3">
                    <!-- Media top -->
                    <div class="media">
                      <a th:href="@{'/product?product_id=' + ${order_detail.orderDetailsId.product.id}}">
                        <img img class="card-img"
                             style="width:150px;height:120px"
                             th:src="${order_detail.orderDetailsId.product.imagePath}"
                             alt="Card image">
                      </a>
                      <div class="media-body">
                        <a th:href="@{'/product?product_id=' + ${order_detail.orderDetailsId.product.id}}">
                          <h4 th:text="${order_detail.orderDetailsId.product.brand} +
                            ${order_detail.orderDetailsId.product.model}"></h4>
                          <p th:text="${order_detail.orderDetailsId.product.description}"></p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <strong th:text="${order_detail.quantity}"></strong>
            </td>
          </tr>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(order_details)}">
        <tr>
          <td>
            <p>Список пуст</p>
          </td>
        </tr>
      </div>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <h3><strong th:text="'Total price: ' + ${total_price} + '$'"></strong></h3>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>